<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>
</head>
<body>
    <h1>Chi tiết đơn hàng</h1>
    <table>
        <thead>
            <tr>
                <th>Mã</th>
                <th>Đơn Hàng</th>
                <th>Món Ăn</th>
                <th>Số Lượng</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="chiTietDonHang : ${chiTietDonHangList}">
                <td th:text="${chiTietDonHang.maChiTietDonHang}"></td>
                <td th:text="${chiTietDonHang.maDonHang}"></td>
                <td th:text="${chiTietDonHang.maMonAn}"></td>
                <td th:text="${chiTietDonHang.soLuong}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
