<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
</head>
<body>
    <h1>Danh sách khách hàng</h1>
    <table>
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên</th>
                <th>Số Điện Thoại</th>
                <th>Địa Chỉ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="khachHang : ${khachHangList}">
                <td th:text="${khachHang.maKhachHang}"></td>
                <td th:text="${khachHang.tenKhachHang}"></td>
                <td th:text="${khachHang.soDienThoai}"></td>
                <td th:text="${khachHang.diaChi}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
