<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách loại món ăn</title>
</head>
<body>
    <h1>Danh sách loại món ăn</h1>
    <table>
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="loaiMonAn : ${loaiMonAnList}">
                <td th:text="${loaiMonAn.maLoaiMonAn}"></td>
                <td th:text="${loaiMonAn.tenLoaiMonAn}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
