<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm sinh viên</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="/index">Trang chủ</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	        <ul class="navbar-nav">
	            <li class="nav-item">
	                <a class="nav-link" href="/danh-sach-sinh-vien">Danh sách sinh viên</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/them-sinh-vien">Thêm sinh viên</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/tim-kiem-sinh-vien">Tìm kiếm</a>
	            </li>
	        </ul>
	    </div>
	</nav>
    <div class="container mt-4">
        <h2>Thêm mới sinh viên</h2>
        <form action="/luu-sinh-vien" method="post">
            <div class="form-group">
                <label for="maSoSV">Mã số sinh viên:</label>
                <input type="text" class="form-control" id="maSoSV" name="maSoSV">
            </div>
            <div class="form-group">
                <label for="hoVaTen">Họ và tên:</label>
                <input type="text" class="form-control" id="hoVaTen" name="hoVaTen">
            </div>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </form>
        <!-- Kiểm tra nếu có thông báo thành công thì hiển thị -->
        <div th:if="${param.success}">
            <div class="alert alert-success" role="alert">
                Sinh viên đã được thêm thành công!
            </div>
        </div>
    </div>
</body>
</html>

